@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<a asp-area="" asp-controller="Home" asp-action="GeradorQRCoder">QR Coder Tag Helper</a>
<a asp-area="" asp-controller="Home" asp-action="GeradorZXing">ZXing Tag Helper</a>
<a asp-area="" asp-controller="Home" asp-action="GeradorQRCoderSimples">QR Coder Simples</a>